<!doctype html>
<html>
<head>
    <title>City Data Postcode-vinder</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="page-header">Adres niet gevonden</h1>
    <p>
        Het opgevraagde adres {{ postcode }}-{{ huisnummer }} {{ huisletter or '' }} {{ huisnummer_toevoeging or '' }} is niet gevonden.
    </p>
    <p>
        <a href="https://data.amsterdam.nl/#/?zoek={{ postcode }}">Klik hier om breder te zoeken in City Data</a>.
    </p>
    <!--
    Yes, this is a lot of content so we can fool IE into showing our own error page instead of horrible
    default error pages. Please don't do this, internet explorer. Please please please.


..............                . . ... . ... . ... . ... . ..............................................................
..............                .......................................,,,,,..............................................
................   . .   . .   . .  . ..                  .... ..... 7ZZZZ...... ..... ..... ..... ..... ..... ..... ...
..... .?Z~..:ZI.   . .   . .   ..ZZZZZ..   . .   . .   . .   . .   . 7ZZZZ..   . .   . .   . .   . .   . .   . .   . ...
 .... .?ZZZZZZI.   . .   . .   .ZZZZZZ$.            . ........ ....  7ZZZZ.....  ....  ....  ....  ....  ....  ....  .
    . ...OZZZ...            ...$ZZZZZZZ,  .         ..,77777.. ....  7ZZZZ.....  ....  ....  ....  ....  ....  ....  ...
       ,OZZZZZ:.            ..+ZZZZZZZZZ...         ..:ZZZZZ..       7ZZZZ..
    ..,ZZZ..$ZZ,   . .   . ...ZZZZZ.ZZZZ7..         ..:ZZZZZ.. .   . 7ZZZZ..   . .   ....... .   . .   . .  .. .   .
 . .....:....:..          . .+ZZZZ:.$ZZZZI.       ....:ZZZZZ ....... 7ZZZZ............,~~~........ .........,,..........
 . .   .,....,..          ..~ZZZZZ..,ZZZZZ..      .ZZZZZZZZZZZZZZ+...7ZZZZ........?ZZZZZZZZZZO.........:OZZZZZZZZO:.....
 . .. :OZ$,.OZZ~          ..ZZZZZ.. .7ZZZZ$..     .ZZZZZZZZZZZZZZ+...7ZZZZ......ZZZZZZZZZZZZZZZZ......OZZZZZZZZZZZZZ....
.. .....ZZZZZO..          .ZZZZZ:.....ZZZZZ,.     .7777ZZZZZ77777=...7ZZZZ.......$ZZ:.....,OZZZZ,....+ZZZZ$....7ZZ:.....
 . .   .,ZZZZ,..          ?ZZZZ7.     ~ZZZZZ.     ....:ZZZZZ ....... 7ZZZZ..   . ..... .   .ZZZZ?. ..ZZZZZ.. ....... ...
 . ....OZZZ?ZZZ.        ..ZZZZZ........OZZZZO..     ..:ZZZZZ.........7ZZZZ................:~7ZZZ7....7ZZZZO$,...........
 . ....7ZI..?ZZ.       ..ZZZZZ7++++++++?ZZZZZ+..    ..:ZZZZZ....   ..7ZZZZ..   ...+OZZZZZZZZZZZZ7.....ZZZZZZZZZZZ:......
 . .   .... ...        .7ZZZZZZZZZZZZZZZZZZZZZ,.    ..:ZZZZZ....   ..7ZZZZ..   .OZZZZZZZZZZOZZZZ7.... .:OZZZZZZZZZZ+....
 . .  .:Z,...Z~.     . .ZZZZZZZZZZZZZZZZZZZZZZZ. .  ..:ZZZZZ.. .   . 7ZZZZ.. ..ZZZZZ?...   .ZZZZ7. .   . ...:?ZZZZZZ=...
 . ....ZZZ$:OZZ.     ..ZZZZZ7.............ZZZZZO..  ...ZZZZZ.........7ZZZZ....=ZZZZZ........ZZZZ7..............,ZZZZZ...
       .=ZZZZ?..... ..IZZZZZ..............$ZZZZZ,......ZZZZZ:........7ZZZZ....=ZZZZZ.......ZZZZZ7.....~Z7......~ZZZZI
       .OZZZZZ..   ..:ZZZZZ,            . .ZZZZZZ.     ZZZZZZZZZZ+...7ZZZZ.....OZZZZZZZZZZZZZZZZ7.. ,ZZZZZZZZOZZZZZO.
   ...,ZZZ+.ZZZ:   ..ZZZZZZ.            . .~ZZZZZ? .   .ZZZZZZZZZ+...7ZZZZ......$ZZZZZZZZZZ.ZZZZ7.. .,ZZZZZZZZZZZZI..
       .+....+..   .,.......   . .   . .   .,.......   ...:=I7?~,...........   ....,+II=,...,............~?I7?~,.....
              .     .     . ...  ....  ....  ....  ....  .............................................................
..............                                            ...........................................................
   .                                                      ...........................................................
                                                          ...........................................................

    Yes, this is a lot of content so we can fool IE into showing our own error page instead of horrible
    default error pages. Please don't do this, internet explorer. Please please please.

    Yes, this is a lot of content so we can fool IE into showing our own error page instead of horrible
    default error pages. Please don't do this, internet explorer. Please please please.

    Yes, this is a lot of content so we can fool IE into showing our own error page instead of horrible
    default error pages. Please don't do this, internet explorer. Please please please.

    Yes, this is a lot of content so we can fool IE into showing our own error page instead of horrible
    default error pages. Please don't do this, internet explorer. Please please please.

    Yes, this is a lot of content so we can fool IE into showing our own error page instead of horrible
    default error pages. Please don't do this, internet explorer. Please please please.

    Yes, this is a lot of content so we can fool IE into showing our own error page instead of horrible
    default error pages. Please don't do this, internet explorer. Please please please.

    -->
</div>
</body>
</html>